section,
mat-card {
  height: 900px;
}

mat-grid-tile figure {
  align-items: flex-start;
}

.description,
mat-card-content {
  overflow-y: scroll;
  height: 310px;
}

.team-image {
  height: 580px;
}

mat-card .team-image {
  height: 500px;
  width: 500px;
}

mat-card-header h3 {
  padding-top: 20px;
}
