<div class="darktheme page-container">
  
    <h1 class="page-header">ABOUT</h1>
    <hr>
    <div class="row">
      <div class="col-lg-6">
        <section>
          <img src="../../assets/images/jjohnston_circle.png" alt="Jacob's Headshot'">
          <!--<div class="picture"></div>-->
          <article>
            <h3>Jacob Johnston</h3>
            <p>
              A lover of science and technology, soaking up all the coolest new web development tools and methodologies. Jacob takes great
              pleasure in creating powerful, dynamic web applications and beautiful, intuitive interfaces.
            </p>
  
            <p>
              He's done years of data science for big names like Intel and Nike. He learned a lot about displaying, interacting with, and
              analyzing data in intuitive, user-friendly ways that even an executive can indulge in. Over time he realized
              that what he loved most was creating things that people use and making the information and resources on the web
              more fun and enlightening.
            </p>
  
            <p>
              So, he got into web application development, making tools for big and small companies along with philanthropic non-profits.
              The tools help them better manage their resources, save time and money, and make lives easier and more fulfilling.
            </p>
  
            <p>
              Then he had another revelation: what's important is making peoples' lives better with the skills and knowledge he has gained
              over the years. It's fun and he wants to do it for you.
            </p>
  
            <p>
              All he wants right now is to help make <strong>your business</strong> better with tools and applications.
            </p>
          </article>
        </section>
      </div>
  
      <div class="col-lg-6">
        <section>
          <img src="../../assets/images/tmendoza_circle.png" alt="Tricia's Headshot'">
          <article>
            <h3>Tricia Mendoza</h3>
            <p>
              Born with a forest green crayon in one hand and a keyboard and mouse in the other, from day one, Tricia was ready to tackle
              the technological trends that would affect the design world.
            </p>
            <p>
              Making sure not to get tempted with the financial stability that comes with pursuing a career in the medical field, she stayed
              on track by achieving a Bachelors Degree in Illustration from California State University, Long Beach. She plans
              to fulfill her childhood prophecy of furthering her claim in the design community by using shapes, lines, and
              composition in ways they thought they never could be used before. Watch out for her, as she is just getting warmed
              up.
            </p>
  
            <p>
              Tricia is a Freelance Interaction Designer who currently resides in the green-filled wonderland that is Portland, OR with
              her patiently supportive and encouraging significant other, Jacob, and their confidently introverted hamster
              Freddie Pepper who always graciously declines out-of-the-cage-time when the clock hits 7pm. When she is not busy
              fulfilling her prophecy, she enjoys hiking, drooling over the <a href="https://dribbble.com/" target="_blank">dribbble</a>            feed, and slaving away in the kitchen.
            </p>
  
            <p>
              She also goes by the name "<a href="https://www.instagram.com/tvmopperator/" target="_blank">tvmopperator</a>"
              so feel free to google her for your various social media needs! You'll mainly spot her roaming around <a href="https://www.instagram.com/tvmopperator/"
                target="_blank">instagram</a>. End rant.
            </p>
          </article>
        </section>
      </div>
  
    </div>
  
  </div>
  
  <!-- 
  ====================================
  SECTION 6 - FOOTER 
  ====================================  
  -->
  <app-footer></app-footer>